html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:host {
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -0.125rem;
  margin: 0;
  font-family:
    'Inter Tight',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
}

main {
  background-color: #f5f3f3;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

.logo {
  margin-top: 15px;
}

.content {
  display: flex;
  flex-direction: column; /* default for mobile */
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column; /* mobile-first */
  row-gap: 0.5rem;
  margin-top: 2rem;
}

.quote-container {
  width: 100%; /* mobile-first */
  max-height: 300px;
  min-height: 60px;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.quote,
.loader {
  margin: 0;
  font-size: 1.3rem;
  line-height: normal;
}

.loader {
  color: gray;
  text-align: center;
}

.countdown-title {
  color: #72025c;
  height: 50px;
  white-space: nowrap;
}

.timeLeftTitle {
  height: 40px;
  padding-top: 0.75rem;
  margin-bottom: 0;
  width: max-content;
  font-weight: 400;
  font-size: 3rem;
}

/* Desktop overrides */
@media screen and (min-width: 651px) {
  .form {
    flex-direction: row;
    column-gap: 1.75rem;
    margin-top: 2.75rem;
  }

  .quote-container {
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
  }
}
